:root {
  /* Color */
  --galactic-blue: hsl(252, 66%, 62%);
  --light-red: hsl(7, 77%, 66%);
  --black: hsl(0, 0%, 1%);
  --summer-yellow: hsl(28, 89%, 67%);
  --cyan: hsl(172, 46%m 57%);
  --medium-brown: hsl(30, 5%, 45%);
  --pink: hsl(0, 78%, 79%);
  --dark-purple: hsl(314, 45%, 23%);
  --light-cream: hsl(28, 100%, 97%);
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(172, 46%, 57%);

  /* Gap */
  --gap-0: 0px;
  --gap-1: 1px;
  --gap-1_25: 0.125rem;
  --gap-2_5: 0.25rem;
  --gap-3_75: 0.375rem;
  --gap-5: 0.5rem;
  --gap-6_25: 0.625rem;
  --gap-7_5: 0.75rem;
  --gap-8_75: 0.875rem;
  --gap-10: 1rem;
  --gap-12_5: 1.25rem;
  --gap-15: 1.5rem;
  --gap-17_5: 1.75rem;
  --gap-20: 2rem;
  --gap-22_5: 2.25rem;
  --gap-27_5: 2.75rem;
  --gap-30: 3rem;
  --gap-35: 3.5rem;
  --gap-40: 4rem;
  --gap-50: 5rem;
  --gap-60: 6rem;
  --gap-70: 7rem;
  --gap-80: 8rem;
  --gap-90: 9rem;
  --gap-100: 10rem;
  --gap-110: 11rem;
  --gap-120: 12rem;
  --gap-130: 13rem;
  --gap-140: 14rem;
  --gap-150: 15rem;
  --gap-160: 16rem;
  --gap-180: 18rem;
  --gap-200: 20rem;
  --gap-240: 24rem;

  /* Display */
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 16px;
  --radius-8: 20px;
  --radius-9: 24px;
  --radius-10: 26px;
  --radius-11: 28px;
  --radius-12: 30px;
  --radius-13: 32px;
  --radius-14: 34px;
  --radius-15: 36px;
  --radius-16: 38px;
  --radius-17: 40px;

  /* Typography */
  --ff-plus-jakarta-sans-sans-serif: var(--ff-plus-jakarta-sans), sans-serif;
  --ff-plus-jakarta-sans: "Plus Jakarta Sans";
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --font-style: normal;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  /* Font Sizes */
  --font-size-0: clamp(0.625rem, 0.53rem + 0.6612vi, 1.125rem);
  --font-size-1: clamp(0.8331rem, 0.6707rem + 1.1298vi, 1.6875rem);
  --font-size-2: clamp(1.1106rem, 0.8405rem + 1.8786vi, 2.5313rem);
  --font-size-3: clamp(1.4804rem, 1.04rem + 3.0631vi, 3.7969rem);

  /* Spacing */
  --space-1: clamp(0.1875rem, 0.1637rem + 0.1653vi, 0.3125rem);
  --space-2: clamp(0.3125rem, 0.265rem + 0.3306vi, 0.5625rem);
  --space-3: clamp(0.5rem, 0.4287rem + 0.4959vi, 0.875rem);
  --space-4: clamp(0.625rem, 0.53rem + 0.6612vi, 1.125rem);
  --space-5: clamp(0.9375rem, 0.7949rem + 0.9917vi, 1.6875rem);
  --space-6: clamp(1.25rem, 1.0599rem + 1.3223vi, 2.25rem);
  --space-7: clamp(1.875rem, 1.5899rem + 1.9835vi, 3.375rem);
  --space-8: clamp(2.5rem, 2.1198rem + 2.6446vi, 4.5rem);
  --space-9: clamp(3.75rem, 3.1798rem + 3.9669vi, 6.75rem);
  --space-1-2: clamp(0.1875rem, 0.1162rem + 0.4959vi, 0.5625rem);
  --space-2-3: clamp(0.3125rem, 0.2056rem + 0.7438vi, 0.875rem);
  --space-3-4: clamp(0.5rem, 0.3812rem + 0.8264vi, 1.125rem);
  --space-4-5: clamp(0.625rem, 0.423rem + 1.405vi, 1.6875rem);
  --space-5-6: clamp(0.9375rem, 0.688rem + 1.7355vi, 2.25rem);
  --space-6-7: clamp(1.25rem, 0.8461rem + 2.8099vi, 3.375rem);
  --space-7-8: clamp(1.875rem, 1.376rem + 3.4711vi, 4.5rem);
  --space-8-9: clamp(2.5rem, 1.6921rem + 5.6198vi, 6.75rem);
  --space-4-6: clamp(0.625rem, 0.3161rem + 2.1488vi, 2.25rem);

  /* Screen Readers */
  --sr-only-width: 1px;
  --sr-only-height: 1px;
  --sr-only-padding: 0px;
  --sr-only-margin: -1px;
  --sr-only-border-width: 0;
  --sr-only-left: -1000px;
  --sr-only-top: auto;
}

/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-plus-jakarta-sans-sans-serif);
  overflow-x: hidden;
  /* The style below prevents font-style inflation */
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: break-word;
}

/* Balance the text wrappings on the headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
  display: var(--block);
}

button {
  appearance: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  width: var(--space-7);
  height: var(--space-7);
  display: var(--block);
}

a:focus,
button:focus {
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-cream);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* We make sure that the text areas without rows are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have an extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove the mark of the list items */
li {
  list-style-type: none;
}

.heading-large {
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: var(--line-height-tight);
}

.heading-medium {
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: var(--line-height-tight);
}

.heading-small {
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--line-height-tight);
}

/* The class will be applied to text that will only be accessible to screen readers */
.sr-only {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  border-width: var(--sr-only-border-width);
  width: var(--sr-only-width);
  height: var(--sr-only-height);
  left: var(--sr-only-left);
  top: var(--sr-only-top);
  margin: var(--sr-only-margin);
  padding: var(--sr-only-padding);
}

/* HEADER AND FOOTER STYLES */
header,
footer {
  display: var(--flex);
  align-items: center;
  justify-content: space-between;
  width: min(90%, 69.4375rem);
  margin-block-start: var(--space-5);
  margin-block-end: var(--space-7-8);
  margin-inline: auto;
}

a[class="logo"] {
  background-image: url(../assets/images/logo.svg);
  background-size: cover;
  cursor: pointer;
}

a[class="logo"]:focus-visible {
  outline: 3px dashed var(--black);
  outline-offset: 5px;
}

.btn__free-consultation {
  font-size: var(--font-size-0);
  font-style: normal;
  font-weight: var(--fw-700);
  padding-block: 0.5rem;
  padding-inline: 1.75rem;
  border-radius: var(--radius-11);
  color: var(--white);
  cursor: pointer;
}

.btn__free-consultation-primary {
  background-color: var(--black);
  transition: 0.4s background-color cubic-bezier(0.19, 1, 0.22, 1);
}

.btn__free-consultation-secondary {
  background-color: var(--light-red);
  transition: 0.4s background-color cubic-bezier(0.19, 1, 0.22, 1);
}

/* This takes care of focus indicators which provide visual cues to keyboard users. */
.btn__free-consultation-primary:focus-visible {
  outline: 3px dashed var(--black);
  outline-offset: 5px;
  background-color: var(--galactic-blue);
}

.btn__free-consultation-secondary:focus-visible {
  outline: 3px dashed var(--light-red);
  outline-offset: 5px;
  background-color: var(--summer-yellow);
}

@media (any-hover: hover) {
  .btn__free-consultation-primary:is(:hover) {
    background-color: var(--galactic-blue);
  }

  .btn__free-consultation-secondary:is(:hover) {
    background-color: var(--summer-yellow);
  }
}

/* MAIN STYLES */

/* EXPERTISE */
.expertise__intro,
.expertise__phrase {
  text-align: center;
  margin-inline: auto;
}

.expertise__intro {
  margin-block-end: var(--space-5);
  width: 66.75%;
}

.expertise__phrase {
  color: var(--medium-brown);
  font-weight: var(--fw-500);
  font-style: normal;
  line-height: var(--line-height-relaxed);
  font-size: var(--font-size-0);
  width: 66.75%;
  margin-block-end: var(--space-7-8);
}

ul[class="expertise__list"] {
  width: min(90%, 69.4375rem);
  margin-inline: auto;
  display: var(--grid);
  gap: var(--gap-15);
  height: 66.75rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "graphic-design graphic-design"
    "graphic-design graphic-design"
    "ui-ux apps"
    "illustrations illustrations"
    "photography photography"
    "motion-graphics motion-graphics";
}

ul[class="expertise__list"] > li {
  border-radius: var(--radius-4);
  padding: var(--gap-15);
  display: flex;
  align-items: flex-end;
  position: relative;
}

ul[class="expertise__list"] > li:has(:focus-visible) {
  outline: 3px dashed var(--black);
  outline-offset: 5px;
}

ul[class="expertise__list"] a::after {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
}

ul[class="expertise__list"] a::before {
  position: absolute;
  display: block;
  content: "";
  bottom: -4px;
  padding-block: 2px;
  left: 0;
  background-color: var(--black);
  width: 0;
  transition: width 0.4s ease 0s;
}

@media (any-hover: hover) {
  ul[class="expertise__list"] > li:hover {
    cursor: pointer;
  }
}

.expertise__list__link {
  width: unset;
  height: unset;
  text-decoration: none;
  font-size: var(--font-size-1);
  color: var(--white);
  font-weight: var(--fw-700);
  font-style: normal;
  line-height: var(--line-height-normal);
  position: relative;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

li[class="expertise__list__graphic-design"] {
  grid-area: graphic-design;
  background: var(--galactic-blue)
    url(../assets/images/pattern-graphic-design.svg) top 24px right 24px/128px
    192px no-repeat;
}

li[class="expertise__list__ui-ux"] {
  grid-area: ui-ux;
  background: var(--summer-yellow) url(../assets/images/pattern-ui-ux.svg) top
    24px right 24px/64px 64px no-repeat;
}

li[class="expertise__list__apps"] {
  grid-area: apps;
  background: var(--pink) url(../assets/images/pattern-apps.svg) top 24px right
    24px/64px 64px no-repeat;
}

li[class="expertise__list__illustrations"] {
  grid-area: illustrations;
  background: var(--light-red) url(../assets/images/pattern-illustrations.svg)
    top 24px right 24px/128px 64px no-repeat;
}

li[class="expertise__list__photography"] {
  grid-area: photography;
  background: var(--cyan) url(../assets/images/pattern-photography.svg) top 24px
    right 24px/160px 64px no-repeat;
}

li[class="expertise__list__motion-graphics"] {
  grid-area: motion-graphics;
  background: var(--dark-purple)
    url(../assets/images/pattern-motion-graphics.svg) top 24px right 24px/128px
    64px no-repeat;
}

li[class^="expertise__list__"]:has(a) {
  transition: background-size 0.4s ease-out;
}

@media (any-hover: hover) {
  li[class="expertise__list__graphic-design"]:is(:hover, :has(:focus-visible)) {
    background-size: 136px 200px;
  }

  li[class="expertise__list__ui-ux"]:is(:hover, :has(:focus-visible)),
  li[class="expertise__list__apps"]:is(:hover, :has(:focus-visible)) {
    background-size: 72px 72px;
  }

  li[class="expertise__list__photography"]:is(:hover, :has(:focus-visible)) {
    background-size: 168px 72px;
  }

  li[class="expertise__list__motion-graphics"]:is(:hover, :has(:focus-visible)),
  li[class="expertise__list__illustrations"]:is(:hover, :has(:focus-visible)) {
    background-size: 136px 72px;
  }

  li:is(:hover, :has(:focus-visible)) a {
    transform: translateY(-6px);
  }

  li:is(:hover, :has(:focus-visible)) a::before {
    width: 100%;
  }
}

/* ABOUT AMY */
section[class="about"] > div {
  width: min(90%, 69.4375rem);
  margin-inline: auto;
  margin-block: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section[class="about"] img {
  width: 17.3rem;
  margin-inline: auto;
}

div[class="about-wrapper"] {
  text-align: center;
}

.about__intro,
.about__description {
  margin-block-end: var(--space-6);
}

.about__description {
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: 500;
  color: var(--medium-brown);
  line-height: var(--line-height-relaxed);
}

/* WORK */
section[class~="myWork"] {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  padding-block-end: 1.25rem; 
}

.myWork__intro {
  text-align: center;
}

article[class="myWork__carousel"] {
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

ul[class~="myWork__slides"] {
  display: flex;
  gap: var(--space-5);
  transition: none; 
  width: 100%; 
}

.myWork__slides.on-transition {
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1); 
}

li[class="myWork__slide"] {
  flex: 0 0 78.3%;
  max-width:540px;
  border-radius: var(--radius-5);
  overflow: hidden;
}

li[class="myWork__slide"] img {
  pointer-events: none;
}

ul[class="myWork__BtnControls"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6_25);
}

.btn__slider {
  background-color: var(--black);
  border-radius: 50%;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s background-color cubic-bezier(0.19, 1, 0.22, 1);
}

.btn__slider:focus-visible {
  outline: 3px dashed var(--black);
  outline-offset: 3px;
  background-color: var(--galactic-blue);
}

@media (any-hover:hover) {
  .btn__slider:hover {
    background-color: var(--galactic-blue); 
  }
}

.btn__slider img {
  width: 15px;
  height: 16px;
}

/* CONTACT */
section[class="contact"] > div {
  width: min(90%, 69.4375rem);
  margin-inline: auto;
  background-color: var(--black);
  margin-block-start: 6.25rem;
  margin-block-end: 2.625rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-5);
  text-align: center;
  padding-inline: 1.5rem;
  align-items: center;
  padding-block: 3.0625rem 3rem;
}

.contact__intro {
  color: var(--light-cream);
  margin-block-end: 1.5rem;
}

.contact__description {
  color: var(--light-cream);
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-relaxed);
  margin-block-end: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .expertise__intro {
    width: unset;
  }

  .expertise__phrase {
    width: 421px;
  }

  ul[class="expertise__list"] {
    height: 34.125rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "graphic-design graphic-design ui-ux apps"
      "graphic-design graphic-design illustrations illustrations"
      "photography photography motion-graphics motion-graphics";
  }

  section[class="about"] > div {
    flex-direction: row;
    text-align: left;
    position: relative;
  }

  div[class="image-wrapper"] {
    flex-basis: 50%;
  }

  div[class="image-wrapper"] > img {
    width: 22.75rem;
    position: absolute;
    left: -83px;
  }

  div[class="about-wrapper"] {
    text-align: unset;
    flex-basis: 65%;
  }

  section[class="contact"] > div {
    padding-inline: 4.69rem;
    padding-block-start: 3.5rem;
  }

  .btn__free-consultation {
    font-size: var(--font-size-0);
    font-style: normal;
    font-weight: var(--fw-700);
    padding-block: 0.875rem;
    padding-inline: 2.81rem;
    border-radius: var(--radius-11);
    color: var(--white);
    cursor: pointer;
  }
}

@media only screen and (min-width: 64em) {
  .heading-medium {
    font-size: 2.5rem;
  }

  .about__description,
  .contact__description {
    font-size: 0.9375rem;
  }

  .expertise__phrase {
    width: 586px;
  }

  div[class="image-wrapper"] > img {
    position: unset;
    width: 27.8rem;
    margin-inline: unset;
  }

  section[class="about"] > div {
    align-items: center;
  }

  section[class="contact"] > div {
    flex-direction: row;
    padding-inline-start: 4.06rem;
    text-align: left;
    gap: 6rem;
    padding-block: 5.0625rem 5rem;
    justify-content: space-between;
  }

  .contact-wrapper {
    flex-basis: 59%;
  }

  .contact__description {
    margin-block-end: unset;
  }

  ul[class="expertise__list"] {
    height: 22.75rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "graphic-design graphic-design ui-ux apps photography photography"
      "graphic-design graphic-design illustrations illustrations motion-graphics motion-graphics ";
  }
}

@media only screen and (min-width: 75em) {
  .expertise__phrase {
    width: 690px;
  }

  .about__intro {
    width: 552px;
  }

  .about__description {
    width: 549px;
  }

  .contact__description {
    width: 537px;
  }

  .about__description,
  .contact__description {
    font-size: 1.125rem;
  }

  section[class="contact"] > div {
    gap: 11rem;
  }

  section[class="about"] > div {
    gap: 7.8125rem;
  }

  .contact-wrapper {
    flex-basis: 53%;
  }
}
